.income-expense-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1.2rem;
    margin: 0.8rem 0 1.6rem 0;
    border-radius: 0.5rem;
    background-color: #ffffff;
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0,0,0,0.2);
    font-weight: 500;
}

.income-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0.4rem 0;
}

.vertical-line{
    border-left: 0.125rem solid #ddd;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
}

.expense-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin: 0.4rem 0;
}

.income-title, .expense-title, .income-amount, .expense-amount{
    margin: 0;
}

.income-amount{
    color: green;
}

.expense-amount{
    color: red;
}