@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.main-container{
  display: flex;
  flex-direction: column;
  background-color: #f7f7f6;
  padding: 0.8rem;
}

.horizontal-line{
  margin-bottom: 1rem;
}